body {
    background-color: #E4E6EB;
    font-family: 'Assistant', sans-serif;
    color: #071C4D;
}

// navbar
.navbar-brand {
    img {
        max-height: 40px;
    }
}

.btn-navbar-right {
    margin-top: -10px !important;
    height: 70px;
    margin-bottom: -8px !important;
    margin-right: -18px !important;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

.navbar-light {
    .navbar-nav {
        .nav-link {
            color: #071C4D;
            &.active {
                font-weight: bold;
                color: #071C4D !important;
            }
        }
    }
}

.btn-login {
    background-color: #071C4D;
    color: #FFF;
    &:hover {
        background-color: #234681;
        color: #FFF;
    }
}

// header
header {
    padding: 180px 0 165px;
    margin-top: -70px;
    background-image: url('../images/header.jpg');
    background-size: cover;
    h1,
    p {
        color: #FFF;
    }
    h1 {
        font-family: 'Playfair Display', serif;
        font-weight: bold;
        font-size: 50px;
    }
    p {
        font-size: 22px;
        font-weight: lighter;
    }
    .btn-get-started {
        background-color: #FF9E53;
        color: #FFF;
        &:hover {
            background-color: #FFAA69;
            color: #FFF;
        }
    }
}

// Statistics
.section-stats {
    margin-top: -50px;
    .stats-detail {
        padding-top: 15px;
        padding-left: 40px;
        background-color: #FFF;
    }
    h2 {
        font-size: 30px;
        margin-bottom: 0;
    }
    p {
        font-size: 20px;
        font-weight: lighter;
    }
}

//Wisata Popular
.section-popular {
    min-height: 540px;
    background-color: #051334;
    margin-top: -50px;
    margin-bottom: -230px;
    .section-popular-heading {
        margin-top: 150px;
        h2,
        p {
            color: #FFF;
        }
        h2 {
            font-family: 'Playfair Display', serif;
            font-weight: bold;
            font-size: 40px;
        }
        p {
            font-size: 18px;
        }
    }
}

.section-popular-content {
    .section-popular-travel {
        .card-travel {
            min-height: 350px;
            background-color: #DDD;
            color: #FFF;
            padding: 30px;
            background-size: cover;
            margin-bottom: 20px;
        }
        .travel-country {
            font-size: 18px;
            color: #FFF;
        }
        .travel-location {
            font-size: 26px;
            color: #FFF;
        }
        .travel-button {
            .btn-travel-details {
                background-color: #FF9E53;
                color: #FFF;
                &:hover {
                    background-color: #FFAA69;
                    color: #FFF;
                }
            }
        }
    }
}

.section-networks {
    background-color: #FFF;
    margin-top: -170px;
    padding-top: 240px;
    padding-bottom: 50px;
    h2 {
        font-family: 'Playfair Display', serif;
        font-weight: bold;
    }
    img {
        max-width: 100%;
    }
}