body {
    background-color: #FFF;
    font-family: 'Assistant', sans-serif;
    color: #071C4D;
}

// navbar
.navbar-brand {
    img {
        max-height: 40px;
    }
}

.btn-navbar-right {
    margin-top: -10px !important;
    height: 70px;
    margin-bottom: -8px !important;
    margin-right: -18px !important;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

.navbar-light {
    .navbar-nav {
        .nav-link {
            color: #071C4D;
            &.active {
                font-weight: bold;
                color: #071C4D !important;
            }
        }
    }
}

.btn-login {
    background-color: #071C4D;
    color: #FFF;
    &:hover {
        background-color: #234681;
        color: #FFF;
    }
}

// header
header {
    padding: 180px 0 165px;
    margin-top: -70px;
    background-image: url('../images/header.jpg');
    background-size: cover;
    h1,
    p {
        color: #FFF;
    }
    h1 {
        font-family: 'Playfair Display', serif;
        font-weight: bold;
        font-size: 50px;
    }
    p {
        font-size: 22px;
        font-weight: lighter;
    }
    .btn-get-started {
        background-color: #FF9E53;
        color: #FFF;
        &:hover {
            background-color: #FFAA69;
            color: #FFF;
        }
    }
}

// Statistics
.section-stats {
    margin-top: -50px;
    .stats-detail {
        padding-top: 15px;
        padding-left: 40px;
        background-color: #FFF;
    }
    h2 {
        font-size: 30px;
        margin-bottom: 0;
    }
    p {
        font-size: 20px;
        font-weight: lighter;
    }
}

//Wisata Popular Heading
.section-popular {
    min-height: 540px;
    background-color: #051334;
    margin-top: -50px;
    margin-bottom: -230px;
    .section-popular-heading {
        margin-top: 150px;
        h2,
        p {
            color: #FFF;
        }
        h2 {
            font-family: 'Playfair Display', serif;
            font-weight: bold;
            font-size: 40px;
        }
        p {
            font-size: 18px;
        }
    }
}

//Wisata Popular Content Card
.section-popular-content {
    .section-popular-travel {
        .card-travel {
            min-height: 350px;
            background-color: #DDD;
            color: #FFF;
            padding: 30px;
            background-size: cover;
            margin-bottom: 20px;
        }
        .travel-country {
            font-size: 18px;
            color: #FFF;
        }
        .travel-location {
            font-size: 26px;
            color: #FFF;
        }
        .travel-button {
            .btn-travel-details {
                background-color: #FF9E53;
                color: #FFF;
                &:hover {
                    background-color: #FFAA69;
                    color: #FFF;
                }
            }
        }
    }
}

//Network Partners
.section-networks {
    background-color: #FFF;
    margin-top: -170px;
    padding-top: 240px;
    padding-bottom: 50px;
    h2 {
        font-family: 'Playfair Display', serif;
        font-weight: bold;
        font-size: 40px;
    }
    p {
        font-size: 18px;
    }
    img {
        max-width: 100%;
    }
}

//Testimonial Heading
.section-testimonial-heading {
    background: linear-gradient(#fff 0%, #f7f9ff 100%);
    padding-top: 50px;
    min-height: 506px;
    h2 {
        font-family: 'Playfair Display', serif;
        font-weight: bold;
        font-size: 40px;
    }
    p {
        font-size: 18px;
    }
}

//Testimonial Content
.section-testimonial-content {
    margin-top: -300px;
    padding-bottom: 50px;
    .card-testimonial {
        padding: 40px 20px 10px;
        border-radius: 11px;
        -webkit-border-radius: 11px;
        -moz-border-radius: 11px;
        -ms-border-radius: 11px;
        -o-border-radius: 11px;
        margin-bottom: 20px;
    }
    .testimonial-content {
        min-height: 380px;
    }
    h3 {
        font-size: 22px;
    }
    .testimonial {
        font-weight: 200;
        font-size: 26px;
        color: #6E6E6E;
        min-height: 170px;
    }
    .trip-to {
        font-weight: normal;
        font-size: 22px;
        color: #6E6E6E;
    }
    hr {
        margin-left: -20px;
        margin-right: -20px;
    }
}

//Btn Need Help & Get Started
.btn-get-started {
    background-color: #FF9E53;
    color: #FFF;
    &:hover {
        background-color: #FFAA69;
        color: #FFF;
    }
}

.btn-need-help {
    background-color: #F2F2F2;
    color: #C3C3C3;
    &:hover {
        background-color: #F8F8F8;
        color: #C3C3C3;
    }
}

//Details Header
.section-details-header {
    min-height: 310px;
    background-color: #E4E6EB;
    margin-top: -70px;
}

//Details Content
.section-details-content {
    margin-top: -210px;
    min-height: 100vh;
    .breadcrumb {
        background-color: transparent;
        padding: 0;
        margin-bottom: 30px;
    }
    .breadcrumb-item {
        &.active {
            font-weight: bold;
            color: #071C4D;
        }
    }
    .card-details {
        padding: 10px;
        border-radius: 11px;
        -webkit-border-radius: 11px;
        -moz-border-radius: 11px;
        -ms-border-radius: 11px;
        -o-border-radius: 11px;
        h1 {
            font-size: 26px;
        }
        h2 {
            font-size: 20px;
        }
        p {
            font-size: 18px;
            color: #B1B1B1;
        }
        .features {
            margin-top: 20px;
            h3 {
                font-size: 18px;
                color: #071C4D;
                margin-bottom: 0;
            }
            p {
                margin-bottom: 0;
            }
            .description {
                margin-left: 10px;
                overflow: hidden;
                float: left;
            }
            .features-image {
                width: 45px;
                height: 45px;
                float: left;
            }
        }
    }
}

//Footer
.section-footer {
    a {
        color: #071C4D;
    }
}